node_modules/
**/node_modules/


*.log
*.tmp
*.temp

frontend/

.env
.env.local
.env.development
.env.production


dist/
build/
**/dist/
**/build/


.DS_Store
Thumbs.db


.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


yarn-error.log
package-lock.json
yarn.lock